.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
		}
		&:checked + .checkbox__label::after {
			background: url("@img/checkbox.svg") 0 0 no-repeat;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #8954e1;
			border-radius: 50%;
			overflow: visible;
		}
		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 15px;
			display: inline-block;
			top: -2px;
			left: 4px;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
		color: rgba(0, 0, 0, 0.5);
		font-size: 12px;
	}
}
